.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 600px;
    width: 600px;
    background-color: rgb(180, 31, 31);
}

.box1 {
    grid-area: 1/1/3/1;
    background-color: rgb(37, 26, 197);
}
.box2 {
    grid-area: 2/2/1/2;
    background-color: rgb(197, 26, 26);
}
.box3 {
    grid-area: 2/2/1/2;
    background-color: rgb(26, 197, 83);
}
.box4 {
    grid-area: 0/2/2/2;
    background-color: rgb(26, 143, 197);
}